.input-group {
    
}

.input-group input {
    border-radius: 8px;
    border: 1px solid #777777 ;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: .4rem .6rem;
    width: 100%;
}

.input-group input:focus {
  outline: none; 
 }